
#myCanvas {
    border: 1px solid #000000;
}

#middle {
    margin-left:auto;
    margin-right:auto;
    widht:900;
}

body {
background-image: -webkit-linear-gradient(top , white, silver);
background-image:    -moz-linear-gradient(top, white, silver);
background-image:     -ms-linear-gradient(top left, silver, white);
background-image:      -o-linear-gradient(top left, silver, white);
background-image:         linear-gradient(top left, silver, white);
}
